.chat-container {
    padding: 10px;
    background: #352d44;
    width: 90vw;
    height: 90vh;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: auto;
    color: white;
}

.dashboard-container {
    background: linear-gradient(45deg, #909cff, #8200ff, #bf00ff);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}